.ethWrapper{
    position: relative;
    flex-wrap: wrap;
    column-count: 9;
}
.ethContainer{
    display: inline-flex;
    justify-content: space-around;
    /* padding:0 0 0.5rem */
    /* align-items: center; */
    /* margin:auto */
}

.portBorder{
    border: 4px solid black;
    /* padding: 13px; */
    display: flex;
    width: 40px;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    height: 40px;
    margin: auto;
}
.distributionDetail{
    border-radius: 5px;
    box-shadow: 2px 2px 6px -4px rgb(139, 139, 139);
    cursor: default;
    font-size: 14px;
    /* left: 50%; */
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -120px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    transform: translateX(0%);
    transform-origin: right bottom;
    transition: 0.15s ease all;
    border: 1px solid #cecece;
    background: rgba(255, 255, 255, 0.96);
}
.distributionDetail .title {
    background: #d8d8d8aa;
    border-bottom: 1px solid #ddd;
    padding: 6px;
    margin-bottom: 4px;
}
.distributionDetail .list{
    padding: 0 10px;
    padding-bottom: 4px;
    text-align: left;
    justify-content: left;
    align-items: center;
}
.portBorder:hover .distributionDetail{
    display: flex;
    opacity: 1;
    transition: 0.15s ease all;
}
.feederPorts:hover{
    opacity:0.5;
}
.active:hover{
    opacity: 1;
}
.ethContainer svg{
    color: gray;
    /* font-size: 2.3rem; */
    font-size: 3.3rem;
    pointer-events: none;
    transform: rotate(90deg);
}
.ethContainer svg path{
    pointer-events: none;
}
.ethContainer p{
    pointer-events: none;
    position: absolute;
    margin:auto;
    /* line-height: 2rem; */
    line-height: 3rem;
}

.ethHotspot{
    width:2.3rem;
    height:100%;
    position:absolute;
    background:yellow;
}
@media (min-width:567px){
    .ethContainer p{
        line-height: 3rem;
    }
    .ethContainer svg{
        font-size: 3.3rem;
    }
}