.ethWrapper{
    position: relative;
    flex-wrap: wrap;
    column-count: 9;
}
.ethContainer{
    display: inline-flex;
    justify-content: space-around;
    /* padding:0 0 0.5rem */
    /* align-items: center; */
    /* margin:auto */
}
.portBorder{
    border: 4px solid black;
    /* padding: 13px; */
    display: flex;
    width: 40px;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    height: 40px;
    margin: auto;
}
.feederPorts:hover{
    opacity:0.5;
}
.active:hover{
    opacity: 1;
}
.ethContainer svg{
    color: gray;
    /* font-size: 2.3rem; */
    font-size: 3.3rem;
    pointer-events: none;
    transform: rotate(90deg);
}
.ethContainer svg path{
    pointer-events: none;
}
.ethContainer p{
    pointer-events: none;
    position: absolute;
    margin:auto;
    /* line-height: 2rem; */
    line-height: 3rem;
}

.ethHotspot{
    width:2.3rem;
    height:100%;
    position:absolute;
    background:yellow;
}
@media (min-width:567px){
    .ethContainer p{
        line-height: 3rem;
    }
    .ethContainer svg{
        font-size: 3.3rem;
    }
}