:root{
  --primary: #ee2d24;
 --secondary: #eeeeee;
 --warning: #FFC260;
 --success: #3CD4A0;
 --green: #1ebc51;
 --info: #9013FE;
}
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@font-face {
  font-family: "GothamRounded-Book" !important;
  src: url(../font/GothamRounded-Book.otf) format('opentype');
  font-style: normal;
}
/* @font-face {
  font-family: 'Graublau Web';
  src: url(GraublauWeb.eot);
  src: local('Graublau Web Regular'), url(GraublauWeb.otf) format('opentype');
  } */
@font-face {
  font-family: "GothamRounded-Medium" !important;
  src: local(''),url("../font/FontsFree-Net-Gilroy3.ttf") format('truetype');
}
@font-face {
  font-family: "GothamRounded-Bold" !important;
  src: url("../font/GothamRounded-Bold.otf") format('opentype');
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../font/Gilroy-Regular.woff2") format('woff2');
}
span,h1,h2,h3,h4,div{
  font-family: "GothamRounded-Book" !important;
  /* font-family: Roboto,Helvetica,Arial,sans-serif; */
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'GothamRounded-Book';
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper{
  position: relative;
  padding: 1rem 1rem;
}
