#topBar{
    position: relative;
    display:flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    /* z-index: 1002; */
    background-color: var(--secondary);
    background-color:transparent;
    /* box-shadow: 1px -3px 10px 2px #ea9563; */
    /* border-bottom: 1px solid #e9e9ef; */
}
#topBar::after{
    pointer-events: none;
    position: absolute;
    content: '';
    z-index: 2;
    width: 100%;
    height: 100%;
    /* background: black; */
    box-shadow: 1px -3px 10px 2px #ea9563;
}
.navbarHeader{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    padding: 0 20px 0 0;
}
.navbarBrandBox{
    padding: 0 1.5rem;
    display:flex;
    justify-content: space-between;
    width:100%;
    /* line-height: 4rem; */
    /* line-height:5.8rem; */
    /* width: 280px; */
    background-color: var(--secondary);
    background-color:transparent;
    /* border-right: 1px solid #e9e9ef;
    -webkit-box-shadow: 0 2px 2px #fbfaff;
    box-shadow: 0 2px 2px #fbfaff; */
}
.navbarBrandBox svg {
    font-size: 32px;
    margin-top: -5px;
    color: gray;
}
.navbarBrandBox a {
    text-decoration: none;
}
.odcAction{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.odcAction button{
   margin:auto;
}
.separator{
    font-size: 1.125rem;
    font-weight: 300;
}
.dFlex{
    display:flex
}
.logoSm{
    display:none;
}
.logoTxt{
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 0;
    font-weight: 300;
    /* margin-left: 1rem; */
}
.logoTxtOdc{
    font-size: 20px;
    font-family: 'GothamRounded-Medium' !important;
    position: relative;
    color: inherit;
    height: 50px;
    line-height: 30px;
    padding: 0.625rem 0;
    text-transform: capitalize;
}
.logo{
    line-height: 69px;
    color: inherit!important;
}
.logoImg{
    position: relative;
    top: 8px;
}
#verticalMenuBtn{
    font-size: 16px;
    margin-left: -52px;
    margin-right: 20px;
}
#verticalMenuBtn:focus{
    box-shadow: none;
}
.navbarToggler{
    cursor: pointer;
    outline: 0;
    border:0;
    display: inline-block!important;
    position:absolute;
    background-color: transparent;
}
.navbarToggler > span{
    pointer-events: none;
}
.navbarTogglerIcon{
    width: 22px;
    height: 2px;
    margin-top: 4px;
    vertical-align: middle;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    display: block;
    border-radius: 1px;
}

.srOnly{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
@keyframes topbar-back {
    0% {
        top: 6px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    45% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes topbar-x {
    0% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    45% {
        top: 6px;
        -webkit-transform: rotate(145deg);
        transform: rotate(145deg);
    }
    75% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    100% {
        top: 6px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}
@keyframes bottombar-back {
    0% {
        bottom: 6px;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    
    45% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    75% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes bottombar-x {
    0% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    45% {
        bottom: 6px;
        -webkit-transform: rotate(-145deg);
        transform: rotate(-145deg);
    }
    75% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    100% {
        bottom: 6px;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

@media (max-width: 1080px){
    .odcAction{
        display:none;
    }
    .navbarBrandBox {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo span.logoSm {
        display: inline-block;
    }
    .logo span.logoLg {
        display: none;
    }
    #verticalMenuBtn {
        margin-left: 0;
    }
    .iconBar{
        pointer-events: none;
        display: block;
        position: relative;
        background: #555!important;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin: 0 auto;
    }
    .navbarToggler{
        position:relative
    }
}
.navbarToggler .navbarTogglerIcon+.navbarTogglerIcon {
    margin-top: 4px;
}
.navbarToggler .iconBar:nth-child(2) {
    top: 0;
    -webkit-animation: .5s linear forwards topbar-back;
    animation: .5s forwards topbar-back;
}
.toggled .iconBar:nth-child(2) {
    
    -webkit-animation: .5s linear forwards topbar-x;
    animation: .5s forwards topbar-x;
}
.toggled .iconBar:nth-child(3) {
opacity:0;
}
.navbarToggler .iconBar:nth-child(4) {
    bottom: 0;
    -webkit-animation: .5s linear forwards bottombar-back;
    animation: .5s forwards bottombar-back;
}
.toggled .iconBar:nth-child(4){
    
    -webkit-animation: .5s linear forwards bottombar-x;
    animation: .5s forwards bottombar-x;
}