.navWrapper{
    position:relative;
}
.navWrapper::after{
    content:'';
    width:100%;
    height: 7px;
    background-image: linear-gradient( to right, #e57425, #efbb6e, #f72c64 );
    bottom:0;
    position:absolute;
}
.logoContainer{
    width:45px;
    margin-top:3px;
    height: auto;
}
.logoWrapper{
    display:flex;
    gap:0.5rem;
}
.logoWrapper h3{
    line-height: 3.5rem;
}
.navContainer{
    padding: 0 1rem;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size:16px;
    line-height: 1rem;
    padding: 0 1rem 7px;
}
.navContainer svg{
    font-size: 32px;

}
.userContainer{
    display: flex;
    margin: 0.7rem 1.2rem;
    /* width: 243px; */
    height: 47px;
    padding: 0 0.7rem 0 0;
    background: rgba(255,255,255,0.5);
    box-sizing: border-box;
    border-radius: 9px;
    box-shadow: 0px 3px 9px -4px #d27e7e;
}
.userContainer .userImg{
    width: 35px;
    margin: 0.4rem 0.7rem 0rem 0.4rem;
    height: 35px;
    border-radius: 7px;
    overflow: hidden;
    font-size: 2.9rem;
    position: relative;
}
.userContainer .userImg svg{
    position: absolute;
    top: -0.59rem;
    left: -0.35rem;
}
.userContainer .userDetail{
    margin: 0.3rem 0px;
    display: flex;
    flex-direction: column;
}
.userContainer .userDetail h6{
    margin:0;
    font-family: 'GothamRounded-Medium' !important;
}
.userContainer .userDetail span{
    font-size: 0.8rem;
}
.validation{
    color:#e33e3e;
    margin-bottom: 0.5rem;
}
@media (max-width: 1080px){
.userContainer{
    display:none;
}
}