.feederWrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0.5rem;
}
.feederDivider{
    display:flex;
    padding: 0 1rem 0 0.5rem;
}
.feederLabel{
    display:flex;
    flex-direction: column;
}