.mainContent{
    /* margin-top: 70px; */
    margin:auto;
    padding: 30px 15px;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    min-height: calc(100vh - 123px);
    overflow: scroll;
    height: calc(100vh - 120px);
}

.content{
    width: 1323px;
}
.odcIdWrapper{
    overflow: scroll;
    height: calc(100vh - 120px);
}
.publicView{
    height: 100vh;
    padding-bottom: 5rem !important;
}
.odcDetail{
    margin:0 1rem;
}
.odcDetail p{
    font-size: 1.125rem;
    margin-bottom:0.5rem;
}
.splitPanelWrapper{
    position:relative;
    column-count:2;
    display: flex;
    gap: 0.5rem;
    margin: 0;
    /* max-width: 375px; */
}
.grouper{
    max-width: 375px;
    flex-wrap: wrap;
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}
.card .cardIcon {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
}
.card .cardHeader{
    margin: 0 15px;
    padding: 0;
    position: relative;
}
.cardStats .cardHeader.cardHeaderIcon svg {
    line-height: 56px;
    width: 56px;
    height: 56px;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.card .cardHeaderWarning .cardIcon, .card .cardHeaderWarning .cardText, .card .cardHeaderWarning:not(.cardHeaderIcon):not(.cardHeaderText) {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(255 152 0 / 40%);
}
.card .cardHeaderWarning .cardIcon, .card .cardHeaderWarning .cardText, .card .cardHeaderWarning:not(.cardHeaderIcon):not(.cardHeaderText), .card.bgWarning, .card.cardRotate.bgWarning .back, .card.cardRotate.bgWarning .front {
    background: linear-gradient(60deg,#ffa726,#fb8c00);
}
.card .cardCategory{
    color: #999;
    font-size: 14px;
}
.cardStats .cardHeader .cardIcon+.cardCategory, .cardStats .cardHeader .cardIcon+.cardTitle {
    padding-top: 10px;
}
.cardStats .cardHeader.cardHeaderIcon, .cardStats .cardHeader.cardHeaderText {
    text-align: right;
    font-weight: 300;
}
.card .cardHeader.cardHeaderIcon .cardTitle, .card .cardHeader.cardHeaderText .cardTitle {
    margin-top: 15px;
    color: #3c4858;
}
.cardStats .cardHeader.cardHeaderIcon .cardCategory, .cardStats .cardHeader.cardHeaderIcon .cardTitle, .cardStats .cardHeader.cardHeaderText .cardCategory, .cardStats .cardHeader.cardHeaderText .cardTitle {
    margin: 0;
    font-weight: 300;
}
.cardTitle{
    font-size:25px;
    font-weight: 300;
    line-height:1.4;
    -webkit-text-stroke: thin;
}
.card .cardFooter {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}
.card .cardBody{
    padding: 0.5rem 1.4rem
}
.card .cardBody+.cardFooter, .card .cardFooter {
    padding: 10px 0 10px;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
}
.cardStats .cardHeader+.cardFooter {
    border-top: 1px solid #eee;
    margin-top: 14px;
}
.card .cardBody+.cardFooter .stats, .card .cardFooter .stats {
    color: #999;
    font-size: 12px;
    line-height: 22px;
}
.cardFooter .stats svg {
    width: 16px;
    height:auto;
}
.card .cardHeaderSuccess .cardIcon, .card .cardHeaderSuccess .cardText, .card .cardHeaderSuccess:not(.cardHeaderIcon):not(.cardHeaderText) {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(76 175 80 / 40%);
}
.card .cardHeaderSuccess .cardIcon, .card .cardHeaderSuccess .cardText, .card .cardHeaderSuccess:not(.cardHeaderIcon):not(.cardHeaderText), .card.bgWarning, .card.cardRotate.bgWarning .back, .card.cardRotate.bgWarning .front {
    background: linear-gradient(60deg,#66bb6a,#43a047);
}
.card .cardHeaderInfo .cardIcon, .card .cardHeaderInfo .cardText, .card .cardHeaderInfo:not(.cardHeaderIcon):not(.cardHeaderText) {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 188 212 / 40%);
}
.card .cardHeaderInfo .cardIcon, .card .cardHeaderInfo .cardText, .card .cardHeaderInfo:not(.cardHeaderIcon):not(.cardHeaderText), .card.bgWarning, .card.cardRotate.bgWarning .back, .card.cardRotate.bgWarning .front {
    background: linear-gradient(60deg,rgb(38, 198, 218),rgb(0, 172, 193));
}
.card .cardHeaderPrimary .cardIcon, .card .cardHeaderPrimary .cardText, .card .cardHeaderPrimary:not(.cardHeaderIcon):not(.cardHeaderText) {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(218 25 16 / 40%);
}
.card .cardHeaderPrimary .cardIcon, .card .cardHeaderPrimary .cardText, .card .cardHeaderPrimary:not(.cardHeaderIcon):not(.cardHeaderText), .card.bgWarning, .card.cardRotate.bgWarning .back, .card.cardRotate.bgWarning .front {
    background: linear-gradient(60deg,rgb(238, 45, 36),rgb(218, 25, 16));
}
.card .cardHeader:not(.cardHeaderIcon):not(.cardHeaderText):not(.cardHeaderImage) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px 1.5rem;
}
.card:not(.cardHeaderIcon){
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.card .cardHeader .cardTitle{
    color:white;
}
.card .cardHeader .cardTitle+.cardCategory {
    color: rgba(255,255,255,.62);
}
.card .cardHeader .cardTitle+.stats {
    font-size: 12px;
    color: white;
}
.card .cardHeader .cardTitle+.stats svg {
    width: 16px;
    height:auto;
}
.card .cardHeader .cardCategory {
    margin: 0;
}
.cardFilter{
    margin: 0 2rem;
}
.tableAction button{
    border-radius: 22px !important;
    min-width:fit-content !important;
}
.tableAction a{
    border-radius: 22px !important;
    min-width:fit-content !important;
}
.customCardBodyUser{
    /* margin-left: 0.3rem; */
}
.tableAction svg{
    width: 22px;
    color: var(--primary);
    height: auto;
}
.tabLink{
    display: flex;
    justify-content: center;
}
.actionContainer{
    position: relative;
    margin: 0 15px;
    padding: 35px 0.5rem 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.9rem;
}

.actionContainer button{
    
    color: #fff;
    border-color: var(--primary);
    /* box-shadow: 0 2px 2px 0 rgb(239 47 37 / 14%), 0 3px 1px -2px rgb(239 47 37 / 20%), 0 1px 5px 0 rgb(239 47 37 / 12%); */
    background-color: var(--primary);
    border-radius: 2px;
}
.dFlex{
    display:flex;
    flex-direction: column;
}
.textFieldContainer{
    padding-bottom: 1.25em;
    /* color: var(--primary); */
}
.formGap{
    margin-top:1rem;
    padding: 1rem 2.3rem 0;
}
.autoTagContainer{
    border: 1px solid rgba(224, 224, 224, 1);
    display: flex;
    overflow: scroll;
    align-items: center;
    border-radius: 7px;
}
.odcDetailItems{
    display: flex;
    justify-content: space-between;
}
.distributionStatusContainer{
    padding: 1rem 0;
}
.splitterStatusContainer{
    padding: 1rem 0;
}
.splitterStatusContainer select {
    text-transform: capitalize;
}
.splitterStatusContainer select option{
    text-transform: capitalize;
}
.feederStatusContainer{
    padding: 1rem 0;
}
.feederStatusContainer select {
    text-transform: capitalize;
}
.feederStatusContainer select option{
    text-transform: capitalize;
}
.closebtn{
    color: white;
    position: absolute;
    top: 0;
    font-size: 29px;
    right: 1rem;
    pointer-events: none;
}
.MuiBox-root .card{
    margin-bottom:0
}
.portLabel{
    text-transform: capitalize;
}
.odcFiles{
    display: flex;
    /* float: right; */
    /* justify-content: right; */
    justify-content: space-between;
    gap: 1rem;
}
.kmlWrapper{
    padding: 0.8rem;
    min-width: 256px;
    border-radius: 7px;
    width: 130px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    background: white;
}
.kml_name{
    font-size: 17px;
    font-weight: bold;
}
.inst{
    font-size: 12px;
    line-height: 0;
    margin-bottom: 0 !important;
}
.dropzoneHotspot div{
    flex-shrink: 0;
    flex-basis: 20px;
}
.hrLine{
    width: 100%;
    flex-basis: 75px !important;
    /* margin-bottom: 2.5rem !important; */
    position: relative;
}
.hrLine p{
    position: relative;
    /* top: 0; */
    width: 92px;
    margin: auto;
    background: white;
    z-index: 1;
}
.hrLine hr{
    position: absolute;
    /* z-index: 9; */
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    width: 73%;
    background: black;
}
.downupload{
    position:relative;
}
.uploadFileWrapper{
    /* min-width: 350px; */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    /* min-height: 200px; */
    /* margin-top: -3.4rem; */
    /* padding-top: 3rem; */
    /* padding-left:1rem; */
    /* min-height: 135px; */
    border: 2px dashed #ced4da;
    background: #fff;
    border-radius: 6px;
    margin-bottom:0 !important;
    color:#838689;
}
.dropzoneCustom{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 0 !important;
}
.dropzoneCustom div:first-of-type{
    width: 100%;
    height: 100%;
    display: flex;
    gap:0.5rem;
    
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: center;
}
.dropzoneHotspot{
    height: 98px !important;
}

.filesCard{
    max-width: 370px;
    /* float:right; */
    margin:auto
}
.uploadContainer{
    min-width: 500px;
    /* position:absolute; */
    position:relative;
    /* left: 2.5rem; */
    /* max-width:100%; */
    padding: 0 1rem 1rem;
    user-select: none;
}
.uploadCardStyle{
    margin-top: 14px;
    margin-left: -9px;
    margin-right: -9px;
}
.mcWrapper{
    padding: 0.8rem;
    min-width: 256px;
    border-radius: 7px;
    width: 130px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    background: white;
}
.mcContainer{
    min-width: 230px;
    width: 135px;
    margin-top: -3.4rem;
    padding-top: 3rem;
    padding-left:1rem;
    min-height: 135px;
    border: 2px dashed #ced4da;
    background: #fff;
    border-radius: 6px;
    color:#838689;
}
.notesContainer{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.notesContainer textarea{
    height: 15px;
    width: 33vw;
    min-height: 50px;
    border-color: transparent;
    border-radius: 3px;
    padding: 0.5rem;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}
.notesContainer button{
    height: 43px;
}
.notesContainer textarea:focus-visible{
    outline-color: transparent;
    box-shadow: 2px 4px 7px 2px rgb(0 0 0 / 14%);
}
.confirmationTitle{
    margin:1rem 0 !important;
    text-align: center;
    /* margin-left: 1rem !important; */
}
.confirmationWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmationWrapper .actionContainer{
    justify-content: center;
    width:100%;
    gap: 1.5rem;
}
.modalBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-out;
    transform: translate(-50%, -52%);
    border: 0;
    border-radius: 6px;
    color: #333;
    width:90%;
    max-width: 600px;
}
.portBorder{
    border: 2px solid black;
    /* padding: 13px; */
    display: flex;
    width: 40px;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    height: 40px;
    margin: 0.5rem 0;
}
.alldetailItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
    margin-right: 5rem;
}
.hr{
    background: transparent;
    display:none;
    opacity: 0.5;
    transform: rotate(90deg);
    flex-basis: 11.4%;
    flex-direction: row;
    flex: 1 89%;
    width: 100%;
    max-width: 2.2rem;
}
.odcItem{
    /* width: 30%; */
    /* min-width: 440px; */
    display:flex;
    justify-content: space-between;
}
.downloadIcon{
    width: 1.5rem;
    margin:auto;
    margin-bottom: 1rem;
}
.downloadIcon svg{
    font-size: 1.5rem;
}
.fileSelected{
    width: 2rem;
    margin:auto;
    margin-bottom: 1rem;
}
.fileSelected svg{
    font-size: 2rem
}
.fileDetail{
    display:flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.fileDetail :first-of-type{
    max-width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (min-width: 1048px) 
and (max-width: 1080px)  {
    .hr{
        display:flex;
        background: black;
        /* border: 1px dashed black;
        border-right-color: transparent;
        border-left-color: transparent; */
    }
    .alldetailItems{
        margin-right: 0;
    }
}
@media screen and (min-width: 1081px) and (max-width: 1254px){
    .odcItem{
        width:100%; 
    }
    
}
@media screen and (min-width: 1254px) {
    .hr{
        display:flex;
        background: black;
        /* border: 1px dashed black;
        border-right-color: transparent;
        border-left-color: transparent; */
    }
    .alldetailItems{
        margin-right: 0;
    }
}
@media (min-width: 768px){
    .hr{
        display:flex;
        background: black;
    }
    .odcItem{
        width:calc(50% - 1.5rem);
    }
}
@media (max-width: 773px){
    .filesCard{
        max-width: 90%;
    }
    .uploadContainer{
        width:100%;
        display: flex;
        justify-content: center;
    }
}